

<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color: #C2F9A3; color: #466B22;">
  <div class="" style="color: #466B22;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="container">
        <div class="row">
          <div class="col">
            <span class="bi bi-clock-fill" style="font-size: 20px;"> Time management</span>
          </div>
          <div class="col">
            <span class="bi bi-clipboard2-data-fill" style="font-size: 20px;"> Growth Mindset</span>
          </div>
          <div class="col">
            <span class="bi bi-robot" style="font-size: 20px;"> Develop Intelligence</span>
          </div>
          <div class="col">
            <span class="bi bi-people-fill col-4" style="font-size: 20px;"> Increase family interaction</span>
          </div>
        </div>
      </div>

      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">

      <div class="container">
        <div class="row">
          <div class="col mt-5">

            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="bi bi-hand-index-thumb-fill"></i>
              <p>ศูนย์บริการลูกค้าเท็ดดี้เทค
            </h6>
            <p>
              จันทร์-ศุกร์ เวลา 8.30-18.00 น. <br>
              โทรศัพท์: 02-345-6789
              อีเมล:Teddytech@teddy.co.th <br>
              LINE: @TeddyTech
            </p>

          </div>
          <div class="col mt-5">
            <h6 class="text-uppercase fw-bold mb-4">
              การสนับสนุนลูกค้า
            </h6>
            <p>
              <a href="/aboutme" >ติดต่อเรา</a>
            </p>
          </div>
          <div class="col mt-5">
            <h6 class="text-uppercase fw-bold mb-4">
              เกี่ยวกับเรา
            </h6>
            <p>

              TeddyTech CLUB <br>
              ที่ตั้งและเวลาเปิด / ปิด <br>
              นโยบายความเป็นส่วนตัว <br>
              นโยบายการใช้คุกกี้
            </p>
          </div>
          <div class="col mt-5">
            <h6 class="text-uppercase fw-bold mb-4">โซเซียลมีเดีย</h6>
            <div class="p-2" style="font-size: 20px; width: 280px;">
              <a href="" class="me-4 text-reset">
                <i class="bi bi-line"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-facebook"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-twitter-x"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-youtube"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-tiktok"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- Section: Links  -->
  </div>
</footer>
<!-- Footer -->

