<div class="container ">
          <div class="card-body card transparent-container">
            <div class="row">
              <div class="col-3 px-4">
                <img
                  src="https://images.pexels.com/photos/7211201/pexels-photo-7211201.jpeg?auto=compress&cs=tinysrgb&w=1200"
                  class="cycle"
                />
              </div>
              <div class="col-9 px-5 pt-3">
                <h1 class="card-title px-3">Profile</h1>
                <h4 class="card-text px-3">Mr.Cat</h4>
              </div>
            </div>
          </div>