<div class="container" #containerElement>
  <div class="transparent-container sticky-center">
    <div class="col-lg-12 cardProfile">
      <div class="row text-center justify-content-center">
        <div class="col-6 preschool" #preschoolSection>
          <h3 class="mt-4">PreSchool</h3>
          <img
            src="../../../assets/img/BgSticker/Diamon4.png"
            class=""
            width="100px"
            height="100px"
          />
          <h6 class="mt-4">basic sticker for kids</h6>
        </div>

        <div class="col-6 primaryschool" #primaryschoolSection>
          <h3 class="my-4">PrimarySchool</h3>
          <img
            src="../../../assets/img/BgSticker/Diamon4.png"
            class=""
            width="100px"
            height="100px"
          />
          <h6 class="mt-4">Advarcrt sticker for kids</h6>
        </div>
      </div>
    </div>
  </div>
</div>
