.navbar {
    justify-items: end;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
  
  }

.nav-link {
  background-color: #C2F9A3;
  margin-left: 100px;
  width: 250px;
  height: 50px;
  padding-bottom: 10px;
  border-radius: 100px;
}



.navbar {
  background-color: #A0D583;
  
}


.navbar-nav .nav-link {
  padding-top: 13px;
  margin-left: 0px;
  margin-right: 100px;
  transition: background-color 0.3s; /* Add a smooth transition for the background color */
}

.navbar-nav .nav-link:hover {
  background-color:  #466B22; /* Change the background color on hover */
  color: #A0D583; /* Change the text color on hover */
}
