<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    
    
    <a class="navbar-brand fw-bold " href="#" style="color: #AD8250;"><img src="assets/logo.png" style="width: 250px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbarNav mx-auto rounded">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <div class="container px-">
            <div class="row gx-5 ">

              <a class="nav-link active  col text-center" style="padding-top: 13px;" aria-current="page" routerLink="/home" routerLinkActive="active"><i class="bi bi-house-fill" ></i> Home</a>
              <a class="nav-link   col text-center" style="padding-top: 13px;" routerLink="/board" routerLinkActive="active"><i class="bi bi-list-task"></i> Task Broard</a>
              <a class="nav-link   col text-center" style="padding-top: 13px;" routerLink="/howto" routerLinkActive="active"><i class="bi bi-journal-bookmark-fill"></i> How to</a>
              <a class="nav-link   col text-center" style="padding-top: 13px;" routerLink="/profile" routerLinkActive="active"><i class="bi bi-person-fill"></i> Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

