/* header{
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 999;
} */


body{
    padding-top: 100px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: #8BBA71;
    bottom: 0;

}