.container {
  width: 80%;
  height: 90vh;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background-color: #ffe1cfd9;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 50px;
  flex-direction: column;
  position: relative;
}

h1 {
  color: #ad8250;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5cb88;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

h3 {
  color: #ad8250;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 10px;
}

.btn {
  align-self: flex-start;
  margin-left: 20px;
  background-color: #f5cb88;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 100px;
  transition: 0.2s;
}

.btn:hover {
  transition: 0.2s;
  background-color: #f4bf68;
}

.stickers-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 96%;
  /* background-color: #91b445; */
}

.sticker {
  background-size: cover;
  background-position: center;
  width: 140px;
  height: 140px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffffff;
  border-radius: 20px;
  cursor: grab;
}

.sticker:active {
  cursor: grabbing;
}

.textSticker {
  margin-top: 10px;
  /* background-color: #795682; */
  font-weight: 600;
  font-size: 1.5vw;
  padding: 8px;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.75);
}

.icon {
  width: 50px;
  height: 50px;
}

.red-corner {
  width: 140px;
  height: 140px;
  position: absolute;
  display: flex;
  justify-content: end;
}

.red-corner i {
  font-size: 24px;
  color: #e15d5d;
  transition: 0.3s;
  cursor: pointer;
}

.red-corner i:hover {
  color: #bc4242;
  transition: 0.2s;
}

.btn-warning {
  width: 12vw;
  color: #fff;
  padding: 10px 20px;
  background-color: #a8a8a8;
  border: none;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

.btn-warning:hover {
  transition: 0.2s;
  background-color: #c0c0c0;
}

.btn-changetheme {
  position: absolute;
  bottom: 20px;
  color: #fff;
  padding: 10px 20px;
  background-color: #edb254;
  border: none;
  cursor: pointer;
  margin: 10px;
  align-self: center;
  width: 20%;
  transition: 0.2s;
}

.btn-changetheme:hover {
  transition: 0.2s;
  background-color: #f5a43c;
}

.fa-caret-left,
.fa-caret-right {
  font-size: 20px;
}

.addMore {
  background-color: #e5e5e5;
  border: 5px solid #d2d2d2;
  transition: 0.3s;
  cursor: pointer;
}

.addMore i {
  font-size: 60px;
  color: #c1bfbf;
}

.addMore:hover {
  background-color: #d3d2d2;
  border: 5px solid #d2d2d2;
  transition: 0.3s;
  cursor: pointer;
}

/* ---------------------- change theme ----------------------------- */

.changetheme_container {
  width: 50%;
  height: 90vh;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background-color: #ffe1cfd9;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 50px;
  flex-direction: column;
  position: relative;
}

.theme_button {
  position: absolute;
  bottom: 20px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-self: center;
}

.theme_button .btn {
  margin-bottom: 0px;
}

.btn-cancel {
  background-color: #a8a8a8;
}

.btn-cancel:hover {
  background-color: #c0c0c0;
}

.btn-next {
  transition: 0.2s;
  background-color: #a1c554;
}

.btn-next:hover {
  transition: 0.2s;
  background-color: #91b445;
}

.bg-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.bgImage {
  width: 140px;
  height: 140px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none white;
  border-radius: 20px;
  background-size: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.bgImage:hover {
  transition: 0.2s;
  border: 5px solid #ffffff;
}

.Image_selected {
  border: 5px solid #ffffff;
}

/* ---------------------create feeling----------------------------- */

.container-create {
  width: 60%;
  height: 50vh;
  margin: auto;
  margin-top: 25vh;
  padding: 20px;
  text-align: center;
  background-color: #ffe1cfd9;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 50px;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.enterName{
  width: 60vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterName input{
  height: 50px;
  width: 20vw;
}





.bgImage2 {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none white;
  border-radius: 20px;
  background-size: 100%;
  cursor: pointer;
  background-color: #ffc9a7d9;
  transition: 0.3s;
}

.bgImage2:hover {
  transition: 0.2s;
  border: 5px solid #ffffff;
  background-color: #ffe1ced9;
}

.Image_selected2 {
  border: 5px solid #ffffff;
}

