<div *ngIf="!userHasID"> 
    <app-profile></app-profile>
  </div>
  
  <div *ngIf="userHasID">
    <div class="container">
      <div class="transparent-container">
        <div class="col-lg-12 cardProfile  text-center">
          <h1 class="pt-4">Welcome!</h1>
          <h2 class="pt-1">You don't have an ID yet.</h2>
          <h5 class="pt-4">Please complete your profile to get an ID.</h5>
          <button class="mt-5 btn btn-dark" routerLink="/signin" >Complete Profile</button>
        </div>
      </div>
    </div>
  </div>