.containerAll{
  display: flex;
  margin: 10px;
}

.container-board .nav-link {
  color: #BB7979;
  background-color: #EFCCCC;
  font-size: 24px;
}

.container-board .nav-link.active {
  color: #BB7979; 
  background-color: #FFDDDD;
  font-size: 24px;
}

.container-board{
  border-radius: 20px;
  background-color: #EFCCCC;
  margin: 20px 5px 20px 5px;
  width: 70vw;
  height: 750px;
}

.col-title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
}

/* th{
  background-color: #EFCCCC;
  border: none;
}

td{
  background-color: #EFCCCC;
  border: none;
} */

.title-board li{
  display: inline-block; 
  margin: 20px 2px 0px 0px;
}

.b{
  margin-left: 0px;
}

.col-title.activity{
  color: #6B8614;
  background-color: #CADD7D;
  border: solid 3px #9abb30;
}

.col-title.sun{
  color: #8E3535;;
  background-color: #FF8686;
  border: solid 3px #C46767;
}
.col-title.mon{
  color: #7A722B;;
  background-color: #F9F25C;
  border: solid 3px #beb853;
}

.col-title.tue{
  color: #A24FA3;;
  background-color: #FBC7FF;
  border: solid 3px #c190c5;
}

.col-title.wed{
  color: #5E8455;;
  background-color: #B3FFAC;
  border: solid 3px #7FBE79;
}

.col-title.thu{
  color: #985F2B;;
  background-color: #FFB178;
  border: solid 3px #C1865B;
}

.col-title.fri{
  color: #4590B0;;
  background-color: #C3EAFF;
  border: solid 3px #8EA9B8;
}

.col-title.sat{
  color: #795682;;
  background-color: #D299FF;
  border: solid 3px #AC7BD3;
}


.container-stickerBoard .nav-link {
  color: #BB7979;
  background-color: #EFCCCC;
  font-size: 16px;
}

.container-stickerBoard .nav-link.active {
  color: #BB7979; 
  background-color: #FFDDDD;
}

.stickArea{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  margin: 0px auto 10px auto;
  width: 110px;
  height: 110px;
  border: dashed  3px rgba(0, 0, 0, 0.1);
}

.stickArea p{
  color: black;
  opacity: 0.25;
}
.activity-stick{
  /* color: #9bb545; */
  background-color: #deebac ; 
}

.sunday-stick{
  /* color: #d28d8d;; */
  background-color: #fcabab;
}

.mon-stick{
  /* color: #d2cd74;; */
  background-color: #f5ef87;
}

.tue-stick{
  background-color: #f7d3f9;
}

.wed-stick{
  background-color: #c3f3bf;
}

.thu-stick{
  background-color: #fcbb8d;
}

.fri-stick{
  background-color: #cbe9f9;
}

.sat-stick{
  background-color: #dcb8f7;
}

.stickto{
  margin-left: 5px;
  margin-right: -25px
}

.a{
  display: flex; 
  /* background-color: rgb(96, 153, 203);  */
  justify-content: flex-start;
  margin-left: 0px;
}
.a ul {
  list-style: none;
}

.a li{
  margin-bottom: 5px;
}


.container-stickerBoard{
  border-radius: 20px;
  background-color: #EFCCCC;
  margin: 20px 5px 20px 5px;
  width: 400px;
  height: 750px;
}

.stickers-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 380px;
  /* background-color: #795682; */
  justify-content: center;
}

.sticker {
  width: 110px;
  height: 110px;
  background-size: cover;
  background-position: center;
  color: rgb(53, 53, 53);
  margin: 2px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  cursor: grab;
}

.sticker:active{
  cursor: grabbing;
}


.icon{
    width: 40px; 
    margin: 0px;
}

.textSticker{
    width: 100px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}