<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <div class="containerAll" cdkDropListGroup>
      <div class="container-board">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="javascript:void"
              >Board</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="javascript:void"
              >Carlendar</a
            >
          </li>
        </ul>

        <div class="areaStick">
          <ul class="stickto">
            <li>
              <div class="col-title activity">
                <p>Activity</p>
              </div>
              <div
                class="day"
                cdkDropList
                [cdkDropListData]="activity_sticked"
                (cdkDropListDropped)="dropSticker($event)"
              >
                <div
                  [class.sticker]="item.imageUrl"
                  [class.stickArea]="!item.imageUrl"
                  [class.activity-stick]="!item.imageUrl"
                  cdkDrag
                  cdkDragBoundary=".stickto"
                  *ngFor="let item of activity_sticked; let i = index"
                  (dblclick)="deleteActivity(i)"
                  [style.background-image]="
                    item.imageUrl
                      ? 'url(' + activityBg + ')'
                      : 'url(' + addBg + ')'
                  "
                >
                  <p class="textSticker">{{ item.text }}</p>
                  <img [src]="item.imageUrl" alt="" class="icon" />
                </div>
              </div>

              <!-- <div
                class="stickArea activity-stick"
                *ngFor="let item of activity_space; let i = index"
              >
                <p>
                  Add <br />
                  Activity !
                </p>
              </div>
               -->
            </li>
          </ul>

          <!-- Sunday -->
          <ul class="stickto">
            <li>
              <div class="col-title sun">
                <p>Sun.</p>
              </div>
              <div
                class="day"
                [class.border-day]="currentday == 0"
                cdkDropList
                [cdkDropListData]="sun_sticked"
                (cdkDropListDropped)="dropSticker($event)"
              >
                <div
                  [class.point-sticker]="item.icon"
                  [class.stickArea]="!item.icon"
                  [class.sunday-stick]="!item.icon"
                  cdkDrag
                  cdkDragBoundary=".stickto"
                  *ngFor="let item of sun_sticked"
                  [style.background-image]="
                    item.bgImage
                      ? 'url(' + item.bgImage + ')'
                      : 'url(' + addBg + ')'
                  "
                >
                  <img src="{{ item.icon }}" alt="" class="icon" />
                </div>
              </div>
            </li>
          </ul>

          <!-- Monday -->
          <ul class="stickto">
            <li>
              <div class="col-title mon">
                <p>Mon.</p>
              </div>
              <div
                class="day"
                [class.border-day]="currentday == 1"
                cdkDropList
                [cdkDropListData]="mon_sticked"
                (cdkDropListDropped)="dropSticker($event)"
              >
                <div
                  [class.point-sticker]="item.icon"
                  [class.stickArea]="!item.icon"
                  [class.mon-stick]="!item.icon"
                  cdkDrag
                  cdkDragBoundary=".stickto"
                  *ngFor="let item of mon_sticked"
                  [style.background-image]="
                    item.bgImage
                      ? 'url(' + item.bgImage + ')'
                      : 'url(' + addBg + ')'
                  "
                >
                  <img src="{{ item.icon }}" alt="" class="icon" />
                </div>
              </div>
            </li>
          </ul>

          <ul class="stickto">
            <li>
              <div class="col-title tue">
                <p>Tue.</p>
              </div>
              <div class="stickArea tue-stick">
                <p>Give <br />🎔 Point 🎔</p>
              </div>
            </li>
          </ul>

          <ul class="stickto">
            <li>
              <div class="col-title wed">
                <p>Wed.</p>
              </div>
              <div class="stickArea wed-stick">
                <p>Give <br />🎔 Point 🎔</p>
              </div>
            </li>
          </ul>

          <ul class="stickto">
            <div class="col-title thu">
              <p>Thu.</p>
            </div>
            <li>
              <div class="stickArea thu-stick">
                <p>Give <br />🎔 Point 🎔</p>
              </div>
            </li>
          </ul>

          <ul class="stickto">
            <li>
              <div class="col-title fri">
                <p>Fri.</p>
              </div>
              <div class="stickArea fri-stick">
                <p>Give <br />🎔 Point 🎔</p>
              </div>
            </li>
          </ul>

          <ul class="stickto">
            <li>
              <div class="col-title sat">
                <p>Sat.</p>
              </div>
              <div class="stickArea sat-stick">
                <p>Give <br />🎔 Point 🎔</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="container-stickerBoard">
        <h5>♥️ Click to add sticker ♥️</h5>
        <h6>คลิกเพื่อเพิ่มสติกเกอร์</h6>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              (click)="selectedgenre = 'Activity'"
              [class.active]="selectedgenre === 'Activity'"
              class="nav-link"
              aria-current="page"
              href="javascript:void"
              >Activity</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              (click)="selectedgenre = 'Praise'"
              [class.active]="selectedgenre === 'Praise'"
              aria-current="page"
              href="javascript:void"
              >Praise</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              (click)="selectedgenre = 'Feeling'"
              [class.active]="selectedgenre === 'Feeling'"
              aria-current="page"
              href="javascript:void"
              >Feeling</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              (click)="selectedgenre = 'Point'"
              [class.active]="selectedgenre === 'Point'"
              aria-current="page"
              href="javascript:void"
              >Point</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              (click)="selectedgenre = 'Reward'"
              [class.active]="selectedgenre === 'Reward'"
              aria-current="page"
              href="javascript:void"
              >Reward</a
            >
          </li>
        </ul>

        <div *ngIf="selectedgenre === 'Activity'">
          <div
            class="stickers-container"
            cdkDropList
            [cdkDropListData]="activityData"
            (cdkDropListDropped)="dropSticker($event)"
          >
            <div
              class="sticker"
              cdkDrag
              cdkDragBoundary=".stickers-container"
              *ngFor="let item of activityData;"
              [style.background-image]="'url(' + activityBg + ')'"
              (click)="
                stickertext = this.item.text;
                stickericon = this.item.imageUrl;
                addActivity()
              "
            >
              <p class="textSticker">{{ item.text }}</p>
              <img src="{{ item.imageUrl }}" alt="" class="icon" />
            </div>
          </div>
        </div>

        <div *ngIf="selectedgenre === 'Point'">
          <div class="select-day">
            <h4 (click)="change_day_minus()">
              <i class="fa-solid fa-caret-left"></i>
            </h4>
            <h4>{{ day[currentday] }}</h4>
            <h4 (click)="change_day_plus()">
              <i class="fa-solid fa-caret-right"></i>
            </h4>
          </div>

          <div
            class="stickers-container"
            cdkDropList
            [cdkDropListData]="pointData"
            (cdkDropListDropped)="dropSticker($event)"
          >
            <div
              class="point-sticker"
              cdkDrag
              cdkDragBoundary=".stickers-container"
              *ngFor="let item of pointData"
              [style.background-image]="'url(' + item.bgImage + ')'"
              (click)="
                point_bg = this.item.bgImage;
                point_icon = this.item.icon;
                addPoint()
              "
            >
              <img src="{{ item.icon }}" alt="" class="icon" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
