<div class="container">
    <div class="row d-flex justify-content-center ">


        <!-- logo -->
        <div class="sticker text-center mt-5 d-flex justify-content-center" style=" background-color: #C2F9A3; color: #AD8250; 
        border-radius: 25px;
        width: 580px;
        height: 120px;
        font-size: 50px;">

            <div class="col-10 d-flex justify-content-center" style="padding-top: 25px;
                padding-left: 10px;">
                <div class="stroke-text fw-bold "> What is TeddyTech ?</div>

            </div>
            <div class="col-2 "><img src="assets/logoTeddytech3.png" style="width: 125px;"></div>

        </div>


        <div class="col d-flex justify-content-center ml-3">
            <div class="sticker  pt-3 mt-5 ">
                <div class="col col-rows-4 ">
                    <!-- 1 -->
                    <div class="row" style="margin-bottom: 75px;">

                        <div class="row row-cols-2" style="background-color: #FFFCFC; color: #000000;  
                            border-radius: 25px;
                            width: 750px;
                            height: 150px;
                            border: 1px solid #A1BD92">

                            <div class="col-12 mt-0" style="
                                font-size: 17px;
                                width: 700px;">

                                <div class="col">
                                    <div class="row mt-n5" style="margin-top: -45px;">
                                        <div class="rounded-circle text-center text-white p-4"
                                            style="width: 100px; height: 100px; background-color: #FFFB97;">

                                            <div class="row mb-3 " style="background-color: #FFFB97; color: #4C4C4C;  
                                            
                                            border-radius: 25px;
                                            width: 370px;
                                            height: 50px;
                                            font-size: 20px;">
                                                <div class="row" style="
                                                margin-top: -10px;
                                                margin-left: -10px;">

                                                    <i class="bi bi-clock-fill col-4 " style="padding-right: 70px;
                                                    font-size: 50px;
                                                    "></i>

                                                    <p class="col-8 mt-4" style="font-size: 17px;"> Time management</p>

                                                </div>

                                            </div>
                                        </div>



                                        <p class="pl-5 mt-3">
                                            การสอนการจัดการเวลาให้กับเด็กเป็นทักษะที่สำคัญที่สามารถช่วยให้พวกเขา
                                            มีการจัดระเบียบตัวเองให้ดีขึ้นมีความรับผิดชอบและประสบความสำเร็จในการจัดการกิจกรรม
                                            และงานรายวันของพวกเขาได้
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <!-- 2 -->
                    <div class="row" style="margin-bottom: 75px;">
                        <div class="row row-cols-2" style="background-color: #FFFCFC; color: #000000;  
                            border-radius: 25px;
                            width: 750px;
                            height: 150px;
                            border: 1px solid #A1BD92">

                            <div class="col-12 mt-0" style="
                                font-size: 17px;
                                width: 700px;">

                                <div class="col">
                                    <div class="row" style="margin-top: -45px;">

                                        <div class="rounded-circle text-center text-white p-4"
                                            style="width: 100px; height: 100px; background-color: #C2F9A3;">

                                            <div class="row mb-3 " style="background-color: #C2F9A3; color: #4C4C4C;  
                                            
                                                border-radius: 25px;
                                                width: 370px;
                                                height: 50px;
                                                font-size: 20px;">
                                                <div class="row" style="
                                                margin-top: -10px;
                                                margin-left: -10px;">

                                                    <i class="bi bi-clipboard2-data-fill col-4 " style="padding-right: 70px;
                                                    font-size: 50px;
                                                    "></i>

                                                    <p class="col-8 mt-4" style="font-size: 17px;">Growth Mindset</p>

                                                </div>

                                            </div>
                                        </div>



                                        <p class="pl-5">
                                            ความสามารถและสติปัญญาสามารถพัฒนาผ่านความพยายามการเรียนรู้
                                            และความอดทนเมื่อนำไปใช้กับเด็กความคิดเติบโตคือจิตสำนึกที่ให้กำลังใจให้เด็กยอมรับ
                                            ความท้าทาย เรียนรู้จากความล้มเหลวและพยายามอย่างไม่หยุดยั้ง
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="row" style="margin-bottom: 75px;">

                        <div class="row row-cols-2" style="background-color: #FFFCFC; color: #000000;  
                            border-radius: 25px;
                            width: 750px;
                            height: 150px;
                            border: 1px solid #A1BD92">

                            <div class="col-12 mt-0" style="
                                font-size: 17px;
                                width: 700px;">

                                <div class="col ">
                                    <div class="row" style="margin-top: -45px;">
                                        <div class="rounded-circle text-center text-white p-4"
                                            style="width: 100px; height: 100px; background-color: #FFD3D3;">

                                            <div class="row mb-3 " style="background-color: #FFD3D3; color: #4C4C4C;  
                                            
                                            border-radius: 25px;
                                            width: 370px;
                                            height: 50px;
                                            font-size: 20px;">
                                                <div class="row" style="
                                                margin-top: -10px;
                                                margin-left: -10px;">

                                                    <i class="bi bi-robot col-4 " style="padding-right: 70px;
                                                        font-size: 50px;
                                                    "></i>

                                                    <p class="col-8 mt-4" style="font-size: 17px;">Develop Intelligence
                                                    </p>

                                                </div>

                                            </div>
                                        </div>



                                        <p class="pl-5">
                                            การพัฒนาความสามารถในเด็กเริ่มจากการกระตุ้นการเจริญเติบโต
                                            ทางสติปัญญานอกจากนี้ยังเป็นการสนับสนุนการเจริญเติบโตทางอารมณ์ สังคม
                                            และร่างกายด้วย
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <!-- 4 -->
                    <div class="row mb-5">
                        <div class="row row-cols-2" style="background-color: #FFFCFC; color: #000000;  
                            border-radius: 25px;
                            width: 750px;
                            height: 150px;
                            border: 1px solid #A1BD92">

                            <div class="col-12 mt-0" style="
                                font-size: 17px;
                                width: 700px;">

                                <div class="col">
                                    <div class="row" style="margin-top: -45px;">

                                        <div class="rounded-circle text-center text-white p-4"
                                            style="width: 100px; height: 100px; background-color: #90BDFF;">

                                            <div class="row mb-3 " style="background-color: #90BDFF; color: #4C4C4C;  
                                            
                                                border-radius: 25px;
                                                width: 370px;
                                                height: 50px;
                                                font-size: 20px;">
                                                <div class="row" style="
                                                margin-top: -10px;
                                                margin-left: -10px;">

                                                    <i class="bi bi-people-fill col-4 " style="padding-right: 70px;
                                                    font-size: 50px;
                                                    "></i>

                                                    <p class="col-8 mt-4" style="font-size: 17px;">Increase family
                                                        interaction</p>

                                                </div>

                                            </div>
                                        </div>



                                        <p class="pl-5">
                                            เป็นช่องทางให้โอกาสที่ดีที่จะแบ่งปันความคิดเห็นความรู้สึกและประสบการณ์
                                            ต่างๆที่เกิดขึ้นระหว่างกันให้เกิดการปฏิสัมพันธ์ใน
                                            ครอบครัวมากขึ้น
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
