<app-navbar></app-navbar>
<div class="container">
    <!-- sticker -->
    <div class="row g-2">

        <!-- Activity -->
        <div class="col-6 ">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-3">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #C2F9A3; color: #466B22;">
                    <h2>Activity sticker</h2> <br>
                    <p>สิ่งที่พ่อแม่ตั้งกำหนดแผนสิ่งที่ต้องทำ</p>
                </div>
            </div>
        </div>
        <!-- sticker -->
        <div class="col-6 ">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #D9D6FC; color: #9248C0;">
                    <h2>Point sticker</h2> <br>
                    <p>สติกเกอร์ที่ผู้ปกครองจะติดให้ลูกเมื่อลูกทำกิจกรรมตตามที่กำหนดไว้
                        ในแต่ละวันใน 1 สัปดาห์ เพื่อสะสมแต้มในการที่จะแลกรับรางวัล</p>
                        
                        

                </div>
            </div>
        </div>
        <!-- Praise sticker -->
        <div class="col-6">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4 custom-frame">
                    <div class="image row "  style="background-color: #FFDDE9; color: #C04890;" >
                        <div class="col"><img src="assets/Praise/Praise1.png" class="img-fluid"></div>
                        <div class="col"><img src="assets/Praise/Praise2.png" class="img-fluid"></div>
                    </div>
                </div>

                <div class="text custom-frame " style="background-color: #FFDDE9; color: #C04890;">
                    <h2>Praise sticker</h2> <br>
                    <p>สิ่งที่พ่อแม่อยากพูดกับลูกเป็นคำชม แบบ Growth Mindset</p>

                </div>
            </div>
        </div>
        <!-- Reward -->
        <div class="col-6">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #DCF5FF; color: #4B80D0;">
                    <h2>Blue Sticker</h2> <br>
                    <p>สิ่งที่พ่อแม่ตั้งเป้าหมาย และให้ของรางวัลตามคะแนนที่ตั้งไว้
                        เป็นการกระตุ้นลูกทำตามเป้าหมายให้สำเร็จ</p>
                    

                </div>
            </div>
        </div>

        <!-- feeling -->
        <div class="col-6">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame"  style="background-color: #FFF2E0; color: #4B80D0;">
                    <h2>Feeling sticker</h2> <br>
                    <p>สิ่งที่เด็กรู้สึกต่อตัวเองหลังจากหลังทำภารกิจ ช่วยสะท้อนอารมณ์ลูก ช่วยให้พ่อแม่เข้าใจลูกได้มากขึ้น</p>
                    

                </div>
            </div>
        </div>
    </div>

<!-- how to -->
    <div class="row g-2">

        <!-- Activity -->
        <div class="col-6 ">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #C2F9A3; color: #466B22;">
                    
                    <p>ให้พ่อแม่เลือกประเภทของงานบ้าน หรือ กิจวัตรประจำวันต่างๆที่ต้องการตั้งเป้าหมายและ
                        ทำให้สำเร็จในสัปดาห์นั้นๆ แปะลงบน Board ในหมวด Activities</p>
                </div>
            </div>
        </div>
        <!-- sticker -->
        <div class="col-6 ">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #D9D6FC; color: #9248C0;">
                    
                    <p>พ่อแม่ตั้งเป้าหมาย และให้ของรางวัลตาม
                        คะแนนที่ตั้งไว้เป็นการกระตุ้นลูกทำตามเป้าหมาย
                        ให้สำเร็จ และชื่นชมลูกๆได้</p>
                        
                        

                </div>
            </div>
        </div>
        <!-- Praise sticker -->
        <div class="col-6">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4 custom-frame">
                    <div class="image row "  style="background-color: #FFDDE9; color: #C04890;" >
                        <div class="col"><img src="assets/Praise/Praise1.png" class="img-fluid"></div>
                        <div class="col"><img src="assets/Praise/Praise2.png" class="img-fluid"></div>
                    </div>
                </div>

                <div class="text custom-frame " style="background-color: #FFDDE9; color: #C04890;">
                    
                    <p>นำคำให้กำลังใจ แปะบน Board ในแต่ละวัน
                        (Monday-Sunday) เพื่อนช่วยให้ลูกมีกำลังใจ
                        และอยากจะทำมันอีกเรื่อยๆt</p>

                </div>
            </div>
        </div>
        <!-- Reward -->
        <div class="col-6">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #DCF5FF; color: #4B80D0;">
                    <h2>Blue Sticker</h2> <br>
                    <p>ในแต่ละวัน คุณพ่อคุณแม่สามารถถามลูกได้ว่า
                        เขารู้สึกอย่างไร หลังจากทำกิจกรรมนั้นๆ ไปแล้ว
                        โดยลูกสามารถเลือก Sticker บน Board ถึงสิ่งที่
                        ต้องการจะบอกกับตัวเอง รวมไปถึงความรู้สึกที่
                        เกิดขึ้นหลังจากที่เขาได้ทำกิจกรรมนั้นๆ </p>
                    

                </div>
            </div>
        </div>

        
    </div>
</div>
