<body>
  <div class="container">
    <div class="forms-container">
      <div class="form-control signup-form">
        <form (ngSubmit)="register()">
          <h2>Signup</h2>
          <input
            type="text"
            placeholder="Username"
            [(ngModel)]="username"
            name="username"
            required
          />
          <input
            type="email"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
            required
          />
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <input
            type="password"
            placeholder="Confirm password"
            [(ngModel)]="checkPassword"
            name="checkPassword"
            required
          />

          <div class="row">
            <input
              type="text"
              placeholder="Kid Name"
              [(ngModel)]="kid_name"
              name="kidName"
              class="col-7"
              required
            />

            <input
              type="number"
              placeholder="Kid Age"
              [(ngModel)]="kid_age"
              name="kidAge"
              class="mx-4 col-2"
              required
            />

            <img src="../../../assets/img/BgSticker/Diamon4.png" style="width: 50px; height: 50px;" (click)="packChange()">

          </div>

          

          <button type="submit">Signup</button>
        </form>
      </div>

      <div class="form-control signin-form">
        <form (submit)="login()">
          <h2>Signin</h2>
          <input
            type="text"
            placeholder="Username"
            [(ngModel)]="username"
            name="username"
            required
          />
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <button type="submit">Signin</button>
        </form>
        <span>or signin with</span>
        <div class="socials">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-google-g"></i>
        </div>
      </div>
    </div>

    <div class="intros-container">
      <div class="intro-control signin-intro">
        <div class="intro-control__inner">
          <h2>Welcome back!</h2>
          <p>
            Welcome back! We are so happy to have you here. It's great to see
            you again. We hope you had a safe and enjoyable time away.
          </p>
          <button id="signup-btn" (click)="toggleChangeClass()">
            No account yet? Signup.
          </button>
        </div>
      </div>
      <div class="intro-control signup-intro">
        <div class="intro-control__inner">
          <h2>Come join us!</h2>
          <p>
            We are so excited to have you here.If you haven't already, create an
            account to get access to exclusive offers, rewards, and discounts.
          </p>
          <button id="signin-btn" (click)="toggleChangeClass()">
            Already have an account? Signin.
          </button>
        </div>
      </div>
    </div>
  </div>
</body>



<div class="sticky-center" *ngIf="pack">
  <div class="col-lg-12 cardProfile" #containerElement>
    <div class="row text-center justify-content-center">
      <div class="col-6 preschool" #preschoolSection (click)="changeBackgroundColor('preschoolSection')">
        <h3 class="my-4">PreSchool</h3>
        <img src="../../../assets/img/BgSticker/Diamon4.png" class="" width="100px" height="100px" />
        <h6 class="mt-4">basic sticker for kids</h6>
      </div>

      <div class="col-6 primaryschool" #primaryschoolSection (click)="changeBackgroundColor('primaryschoolSection')">
        <h3 class="my-4">PrimarySchool</h3>
        <img src="../../../assets/img/BgSticker/Diamon4.png" class="" width="100px" height="100px" />
        <h6 class="mt-4">Advarcrt sticker for kids</h6>
      </div>
    </div>
  </div>
</div>



