<div class="container">
    <div class="row g-2">

        <!-- Activity -->
        <div class="col-6 ">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #C2F9A3; color: #466B22;">
                    <h2>Activity sticker</h2> <br>
                    <p>สิ่งที่พ่อแม่ตั้งกำหนดแผนสิ่งที่ต้องทำ</p>
                </div>
            </div>
        </div>
        <!-- sticker -->
        <div class="col-6 ">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #D9D6FC; color: #9248C0;">
                    <h2>Point sticker</h2> <br>
                    <p>สติกเกอร์ที่ผู้ปกครองจะติดให้ลูกเมื่อลูกทำกิจกรรมตตามที่กำหนดไว้
                        ในแต่ละวันใน 1 สัปดาห์ เพื่อสะสมแต้มในการที่จะแลกรับรางวัล</p>
                        
                        

                </div>
            </div>
        </div>
        <!-- Praise sticker -->
        <div class="col-6">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4 custom-frame">
                    <div class="image row "  style="background-color: #FFDDE9; color: #C04890;" >
                        <div class="col"><img src="assets/Praise/Praise1.png" class="img-fluid"></div>
                        <div class="col"><img src="assets/Praise/Praise2.png" class="img-fluid"></div>
                    </div>
                </div>

                <div class="text custom-frame " style="background-color: #FFDDE9; color: #C04890;">
                    <h2>Praise sticker</h2> <br>
                    <p>สิ่งที่พ่อแม่อยากพูดกับลูกเป็นคำชม แบบ Growth Mindset</p>

                </div>
            </div>
        </div>
        <!-- Reward -->
        <div class="col-6">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame " style="background-color: #DCF5FF; color: #4B80D0;">
                    <h2>Blue Sticker</h2> <br>
                    <p>สิ่งที่พ่อแม่ตั้งเป้าหมาย และให้ของรางวัลตามคะแนนที่ตั้งไว้
                        เป็นการกระตุ้นลูกทำตามเป้าหมายให้สำเร็จ</p>
                    

                </div>
            </div>
        </div>

        <!-- feeling -->
        <div class="col-6">

            <div class="p-3 border  m-0  custom-frame" class="bk">
                <div class="img row row-cols-4">
                    <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                    <div class="col"><img src="assets/Activity/Activity4.png" class="img-fluid"></div>
                </div>

                <div class="text custom-frame"  style="background-color: #FFF2E0; color: #4B80D0;">
                    <h2>Feeling sticker</h2> <br>
                    <p>สิ่งที่เด็กรู้สึกต่อตัวเองหลังจากหลังทำภารกิจ ช่วยสะท้อนอารมณ์ลูก ช่วยให้พ่อแม่เข้าใจลูกได้มากขึ้น</p>
                    

                </div>
            </div>
        </div>
    </div>
</div>