<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <link rel="stylesheet" href="aboutme.component.css" />
</head>

<body>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">

                <div class="container">
                    <div class="row">
                        <div class="col m-5">
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>

                                    <div class="card-image">
                                        <img src="assets/Ging.jpg" alt="" class="card-img">
                                    </div>
                                </div>



                                <div class="card-content">
                                    <h2 class="name">Watthana Takimnok</h2>
                                    <p class="description">652110302</p> <br>
                                    <h3>S3 Invent</h3>


                                </div>
                            </div>
                        </div>
                        <div class="col m-5">
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>

                                    <div class="card-image">
                                        <img src="assets/Ging.jpg" alt="" class="card-img">
                                    </div>
                                </div>



                                <div class="card-content">
                                    <h2 class="name">Weeraya Kosandilok</h2>
                                    <p class="description">652110305</p> <br>
                                    <h3>CLBS</h3>



                                </div>
                            </div>
                        </div>
                        <div class="col m-5">
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>

                                    <div class="card-image">
                                        <img src="assets/Ging.jpg" alt="" class="card-img">
                                    </div>
                                </div>



                                <div class="card-content">
                                    <h2 class="name">Nattakit Prasertpakorn</h2>
                                    <p class="description">652110321</p> <br>
                                    <h3>S3 Invent</h3>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>




</body>


</html>