.transparent-container {
  background-color: rgba(255, 255, 255, 0.448); /* Transparent white */
  padding: 50px;
  max-width: 1000px;
  border-radius: 15px;
  margin-top: 20px;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6{
  color: #466B22;;
   }
.cardProfile {
  background-color:#C2F9A3;
  border-radius: 15px;
  z-index: 0;
}
.cardMedium {
  background-color: #C2F9A3;
  border-radius: 15px;
  z-index: 0;
}
.cardLenge {
  background-color:  #C2F9A3;
  border-radius: 15px;
  z-index: 0;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 15px;
}

.progre {
  margin-left: 5px;
}

.name {
  margin-left: -5px;
  border-radius: 15px;
  background-color: bisque;
  width: 160px;
  height: 35px;
}

.name h5{
  padding: 5px 0 0 8px;
}

.pen {
  padding-top: 10px;
}

.col-lg-6 {
  min-height: 160px;
}

.col-lg-12 {
  min-height: 160px;
}

.taskPoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: bisque;
  border-radius: 15px;
  text-align: center;
  height: 130px;
}

.cx {
  margin-bottom: -6px;
}

.cv {
  margin-top: -12px;
}

.bk {
  background-color: bisque;
  border-radius: 15px;
  padding: 4px 15px 4px 15px;
}



.edit-profile-overlay {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.pointer-cursor {
  cursor: pointer;
}


.ring {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-ring {
  width: 120px;
  height: 120px;
  background: none;
  position: relative;
}

.progress-ring::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-ring>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progprogress-ringress .progress-left {
  left: 0;
}

.progress-ring .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress-ring .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress-ring .progress-right {
  right: 0;
}

.progress-ring .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress-ring .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
