<div class="container">

    <div class="col d-flex justify-content-center ">
        <div class="sticker text-center pt-3 mt-5 ">
            <div class="row row-cols-2" style="background-color: #C2F9A3; color: #AD8250;  
         border-radius: 25px;
         width: 580px;
         height: 120px;
         font-size: 60px;">
                <div class="col-9" style="padding-top: 10px;
                padding-left: 10px;">Sticker</div>
                <div class="col-3 "><img src="assets/logoTeddytech3.png" style="width: 125px;"></div>


            </div>
        </div>
    </div>



    <div class="row mt-5">
        <div class="col-lg-6">
            <div class="row">

                <!-- Activity -->
                <div class="col-lg-12 ">
                    <div class="col-6 ">

                        <div class="p-3 m-0 bk " style="border: 10px solid #A1BD92;
                        width: 500px;
                        height: 350px;">
                            <div class="img row row-cols-3">
                                <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid"></div>
                                <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid"></div>
                                <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid"></div>
                            </div>

                            <div class="text custom-frame p-3" style="background-color: #C2F9A3; color: #466B22;">
                                <h2>Activity sticker</h2>
                                <p>สิ่งที่พ่อแม่ตั้งกำหนดแผนสิ่งที่ต้องทำ</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Praise -->
                <div class="col-lg-12 pt-3">
                    <div class="col-6 ">

                        <div class="p-3 m-0 bk " style="border: 10px solid #A1BD92;
                        width: 500px;
                        height: 350px;">


                            <div class="row m-2">
                                <div class="col-8 text-center" style="background-color: #FFDDE9; color: #C04890;
                                width: 250px;
                                height: 150px;
                                font-size: 25px;
                                border-radius: 25px;
                                ">
                                    3 Praise Stickers
                                    <div class="img row row-cols-3">
                                        <img src="assets/Praise/Praise1.png" class="img-fluid">
                                        <img src="assets/Praise/Praise2.png" class="img-fluid">
                                        <img src="assets/Praise/Praise4.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-4 pt-3">
                                    <img src="assets/Praise/Praise3.png" class="img-fluid">
                                </div>
                            </div>

                            <div class="text custom-frame p-3" style="background-color: #FFDDE9; color: #C04890;">
                                <h2>Praise sticker</h2>
                                <p>สิ่งที่พ่อแม่อยากพูดกับลูกเป็นคำชม แบบ Growth Mindset</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 pt-3">
                    <div class="col-6 ">

                        <div class="p-3 m-0 bk " style="border: 10px solid #A1BD92;
                        width: 500px;
                        height: 350px;">


                            <div class="row m-2">
                                <div class="col-8 text-center" style="background-color: #FFF2E0; color: #B57933;
                                width: 250px;
                                height: 150px;
                                font-size: 25px;
                                border-radius: 25px;
                                ">
                                    3 Feeling Stickers
                                    <div class="img row row-cols-3">
                                        <img src="assets/feel/Feeling1.png" class="img-fluid">
                                        <img src="assets/feel/Feeling2.png" class="img-fluid">
                                        <img src="assets/feel/Feeling4.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-4 pt-3">
                                    <img src="assets/feel/Feeling3.png" class="img-fluid">
                                </div>
                            </div>

                            <div class="text custom-frame p-3" style="background-color:#FFF2E0; color: #B57933;
                            height: 115px;">
                                <h2>Feeling sticker</h2>
                                <p>สิ่งที่เด็กรู้สึกต่อตัวเองหลังจากหลังทำภารกิจ ช่วยสะท้อนอารมณ์ลูก
                                    ช่วยให้พ่อแม่เข้าใจลูกได้มากขึ้น</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="col">
                <div class="row-lg-12">
                    <div class="col-6 ">

                        <div class="p-3 m-0 bk " style="border: 10px solid #A1BD92;
                        width: 500px;
                        height: 535px;">

                            <div class="row m-2">

                                <div class="col-3">
                                    <div class="p-0 m-0 custom-frame" style="width: 75px
                                         ">
                                        <img src="assets/Activity/Activity1.png" class="img-fluid">
                                        <img src="assets/Activity/Activity2.png" class="img-fluid">
                                        <img src="assets/Activity/Activity3.png" class="img-fluid">
                                    </div>


                                </div>

                                <div class="col-3">
                                    <div class="p-0  m-0 custom-frame" style="background-color: #FF8686;
                                    width: 75px;
                                    border-radius: 25px;
                                    border: 2px solid #C46767
                                         ">
                                        <img src="assets/point/Point1.png " class="img-fluid">
                                        <img src="assets/Praise/Praise4.png" class="img-fluid">
                                        <img src="assets/point/Point2.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="p-0  m-0 custom-frame" style="background-color: #F9F25C;
                                    width: 75px;
                                    border-radius: 25px;
                                    border: 2px solid #C9C34A
                                         ">
                                        <img src="assets/Praise/Praise4.png" class="img-fluid">
                                        <img src="assets/point/Point3.png" class="img-fluid">
                                        <img src="assets/Praise/Praise4.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="p-0  m-0 custom-frame" style="
                                    width: 75px;                                                         
                                         ">
                                        <img src="assets/point/Point1.png " class="img-fluid">
                                        <img src="assets/point/Point2.png" class="img-fluid">
                                        <img src="assets/point/Point3.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>




                            <div class="text custom-frame p-2" style="background-color: #D9D6FC; color: #9248C0;
                            height: 115px;">
                                <h2>Point sticker</h2>
                                <p>สติกเกอร์ที่ผู้ปกครองจะติดให้ลูกเมื่อลูกทำกิจกรรมตตามที่กำหนดไว้
                                    ในแต่ละวันใน 1 สัปดาห์ เพื่อสะสมแต้มในการที่จะแลกรับรางวัล</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Reward -->
                <div class="row-lg-12 pt-3">
                    <div class="col-lg-3">
                        <div class="col p-0">

                            <div class=" bk " style="border: 10px solid #A1BD92;
                            width: 500px;
                            height: 535px;">



                                <div class="row row-cols-2  mt-5 ">
                                    <div class="col-6">
                                        <img src="assets/bb2.png " class="img-fluid p-1 ml-5" style="width: 300px;
                                            height: 150px;">

                                    </div>
                                    <div class="col-6">
                                        <div class="col"><img src="assets/reward/Reward1.png " class="img-fluid p-1 m-3"
                                                style="width: 130px;">
                                        </div>
                                    </div>
                                </div>




                                <div class="text custom-frame p-3 mt-5" style="background-color: #DCF5FF; color: #4B80D0;
                                height: 115px;">
                                    <h2>Blue Sticker</h2>
                                    <p> สิ่งที่พ่อแม่ตั้งเป้าหมาย และให้ของรางวัลตามคะแนนที่ตั้งไว้
                                        เป็นการกระตุ้นลูกทำตามเป้าหมายให้สำเร็จ</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- how to -->
    <div class="col d-flex justify-content-center ">
        <div class="sticker text-center pt-3 mt-5 ">
            <div class="row row-cols-2" style="background-color: #C2F9A3; color: #AD8250;  
         border-radius: 25px;
         width: 580px;
         height: 120px;
         font-size: 60px;">
                <div class="col-9" style="padding-top: 10px;
                padding-left: 10px;">How To Use ?</div>
                <div class="col-3 "><img src="assets/logoTeddytech3.png" style="width: 125px;"></div>


            </div>
        </div>
    </div>
    <!-- 1 -->
    <div class="row mt-5">
        <div class="col-lg-6">

            <div class="col-lg-12">

                <div class="p-3 m-0 bk " style="border: 10px solid #A1BD92;
                width: 500px;
                height: 350px;">
                    <div class="row d-flex justify-content-center mb-1">
                        <div class="sticker text-center p-2" style="background-color: #C2F9A3; color: #6B8614;  
                     border-radius: 25px;
                     width: 100px;
                     height: 50px;
                     border: 2px solid #6B8614">
                            Activity
                        </div>
                    </div>
                    <div class="img row row-cols-3 p-0">
                        <div class="col"><img src="assets/Activity/Activity2.png" class="img-fluid p-1"></div>
                        <div class="col"><img src="assets/Activity/Activity3.png" class="img-fluid p-1"></div>
                        <div class="col"><img src="assets/Activity/Activity1.png" class="img-fluid p-1"></div>
                    </div>

                    <div class="text custom-frame p-3" style="background-color: #C2F9A3; color: #466B22;">
                        <p>ให้พ่อแม่เลือกประเภทของงานบ้าน หรือ กิจวัตรประจำวันต่างๆที่ต้องการตั้งเป้าหมายและ
                            ทำให้สำเร็จในสัปดาห์นั้นๆ แปะลงบน Board ในหมวด Activities</p>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="col-lg-12 mt-5">
                <div class="p-3 m-0 bk " style="border: 10px solid #A1BD92;
                width: 500px;
                height: 350px;">

                    <div class="row row-cols-2 ">
                        <div class="col-6 ">
                            <img src="assets/bb2.png " class="img-fluid p-1 ml-5" style="width: 300px;">

                        </div>
                        <div class="col-6">
                            <div class="col"><img src="assets/reward/Reward1.png " class="img-fluid p-1 m-3"
                                    style="width: 130px;">
                            </div>
                        </div>
                    </div>

                    <div class="text custom-frame p-3" style="background-color:  #DCF5FF; color: #4B80D0;">
                        <p>พ่อแม่ตั้งเป้าหมาย และให้ของรางวัลตาม
                            คะแนนที่ตั้งไว้เป็นการกระตุ้นลูกทำตามเป้าหมาย
                            ให้สำเร็จ และชื่นชมลูกๆได้</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="col-lg-6">
            <div class="row">

                <div class="col-lg-12">
                    <div class="p-3 m-0 bk " style="border: 10px solid #A1BD92;
                    width: 500px;
                    height: 350px;">

                        <div class="row row-cols-2 ">
                            <div class="col-4 ">
                                <img src="assets/point/Point1.png " class="img-fluid p-1 ml-5" style="width: 100px;">
                                <img src="assets/point/Point2.png" class="img-fluid p-1 ml-5" style="width: 100px;">
                            </div>
                            <div class="col-8">
                                <div class="col"><img src="assets/b.png" class="img-fluid p-1" style="width: 160px;">
                                </div>
                            </div>
                        </div>

                        <div class="text custom-frame p-3" style="background-color:  #FFDDE9; color: #C04890;">
                            <p>นำคำให้กำลังใจ แปะบน Board ในแต่ละวัน
                                (Monday-Sunday) เพื่อนช่วยให้ลูกมีกำลังใจ
                                และอยากจะทำมันอีกเรื่อยๆ</p>
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="col-lg-12 mt-5 mb-5">
                    <div class="p-3 m-0 bk " style="border: 10px solid #A1BD92;
                        width: 500px;
                        height: 350px;">


                        <div class="row row-cols-2">
                            <div class="col">
                                <div class="col-8 text-center ml-5" style="background-color: #FFDDE9; color: #C04890;
                                width: 350px;
                                height: 100px;
                                font-size: 10px;
                                border-radius: 25px;
                                ">
                                    3 Praise Stickers
                                    <div class="img row row-cols-3">
                                        <img src="assets/Praise/Praise1.png" class="img-fluid">
                                        <img src="assets/Praise/Praise2.png" class="img-fluid">
                                        <img src="assets/Praise/Praise4.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col"><img src="assets/Praise/Praise1.png" class="img-fluid p-0"
                                        style="width: 100px;">
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-8 text-center mt-1 ml-5" style="background-color: #FFF2E0; color: #B57933;
                                width: 350px;
                                height: 100px;
                                font-size: 10px;
                                border-radius: 25px;
                                ">
                                    3 Feeling Stickers
                                    <div class="img row row-cols-3">
                                        <img src="assets/feel/Feeling1.png" class="img-fluid">
                                        <img src="assets/feel/Feeling2.png" class="img-fluid">
                                        <img src="assets/feel/Feeling4.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col"><img src="assets/feel/Feeling1.png" class="img-fluid p-0"
                                        style="width: 100px;">
                                </div>
                            </div>
                        </div>


                        <div class="text custom-frame pt-2 pl-3" style="background-color: #C2F9A3; color: #466B22;
                        height: 90px;">
                            <p>ให้พ่อแม่เลือกประเภทของงานบ้าน หรือ กิจวัตรประจำวันต่างๆที่ต้องการตั้งเป้าหมายและ
                                ทำให้สำเร็จในสัปดาห์นั้นๆ แปะลงบน Board ในหมวด Activities</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>