<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <div class="container" *ngIf="changeThemeOn === false">
      <button class="btn" routerLink="/board">
        <i class="fa-solid fa-caret-left"></i>&ensp;Back
      </button>
      <h1>Activity Sticker</h1>
      <div
        class="stickers-container"
        cdkDropList
        [cdkDropListData]="activityData"
        (cdkDropListDropped)="dropSticker($event)"
      >
        <div
          class="sticker"
          cdkDrag
          cdkDropListOrientation="horizontal"
          cdkDragBoundary=".stickers-container"
          *ngFor="
            let item of getActivityDataForPage(currentPage);
            let i = index
          "
          [style.color]="activity_fontColor"
          [style.background-image]="'url(' + activityBg + ')'"
        >
          <div class="red-corner"><i class="fa-solid fa-circle-xmark"></i></div>
          <p class="textSticker">{{ item.text }}</p>
          <img src="{{ item.imageUrl }}" alt="" class="icon" />
        </div>
        <div class="sticker addMore">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
      </div>
      <div class="d-flex justify-content-center my-1">
        <button
          *ngIf="currentPage > 1"
          (click)="changePage(-1)"
          class="btn btn-warning"
        >
          <i class="fa-solid fa-caret-left"></i>&ensp;Previous Page
        </button>
        <button
          *ngIf="currentPage < totalNumberOfActivityPages"
          (click)="changePage(1)"
          class="btn btn-warning"
        >
          Next Page&ensp;<i class="fa-solid fa-caret-right"></i>
        </button>
      </div>
      <button class="btn btn-changetheme" (click)="change_themeOnOff()">
        Change Theme&ensp;<i class="fa-solid fa-paint-roller"></i>
      </button>
    </div>

    <!-- ------------------------------- change Theme -------------------------------------- -->
    <div class="container changetheme_container" *ngIf="changeThemeOn === true">
      <h1>
        Change Theme Activity Sticker&ensp;<i
          class="fa-solid fa-paint-roller"
        ></i>
      </h1>
      <div class="bg-container">
        <div
          class="bgImage"
          *ngFor="let item of activityTheme ; let i = index"
          [style.background-image]="'url(' + item.bg + ')'"
          [ngClass]="{ 'bgImage_selected': isBgSelected(i) }"
          (click)="selectBg(i)"
        ></div>
      </div>
      <div class="d-flex justify-content-center my-1 theme_button">
        <button class="btn btn-cancel" (click)="change_themeOnOff()">
          Cancel
        </button>
        <button class="btn btn-next" (click)="change_theme_confirm()">OK</button>
      </div>
    </div>
  </body>
</html>
