/* save */

.save-container {
    position: absolute;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* กำหนดความสูงให้เท่ากับความสูงของหน้าจอ */
    overflow-y: auto;
  }
  
  .save-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 30vh;
    background-color: #ffffff;
    border-radius: 20px;
  }